/*cabecera de la pagina y titulo*/
h1 {
  font-family: "Courier New", Courier, monospace;
  font-size: 40px;
  font-weight: 200px;
  text-align: center;
  margin: 100px 0px 0px 0px;
}
h2{
  color:#06406c;
  font-size: 70px;4
  font-weight: normal;
  margin:0px;
  font-family: 'Chelsea Market', Georgia, serif;
  text-transform: lowercase;
  text-align: center;
}

/*parrafos*/
p {
  font-family: "Courier New", Courier, monospace;
  font-size: 25px;
  text-align: center;
  margin: 10px;
  padding: 10px;
}

p{
  width: 960px;
  margin:40px auto;
  color: #000;
  line-height: 200%;
}

a{
  color: #fff;
  font-size: 40px;
  font-weight: normal;
  font-style: normal;
  background-color: #06406c;
  padding:10px 15px;
  border-radius: 10px;
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}
.comandos{
  background-color: #000;
  color: white;
  font-style: normal;
  border-radius: 10px;
  padding: 5px 15px;
  font-family:menlo, monospace;
}

/*Container-blue-*/
.container_blue{
  position: relative;
  background-color: #348fd4;
  width: 100%;
  color: white;
  padding-top: 80px;
  padding-bottom: 80px;
}
